<h1>Bienvenido a GameOverSize</h1>

<a href="/login" class="link">Inicia sesión aquí</a>.</p>
<a href="/register" class="link">Registrate aquí</a>.</p>
<a href="/changeRole" class="link">Ver Usuarios</a>.</p>
<a href="/products" class="link">Ver Productos</a>.</p>
<a href="/cart" class="link">Ver Carrito</a>.</p>