.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .link {
    text-align: center;
    color: #007bff;
    text-decoration: none;
}
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .finalizar-compra-title {
    font-size: 24px;
    color: #333;
  }
  
  .detalles-compra-title {
    font-size: 20px;
    color: #666;
  }
  
  .success-message {
    color: green;
  }
  
  .error-message {
    color: red;
  }
  
  .total-amount {
    font-weight: bold;
  }
  
  .ticket-code {
    font-style: italic;
  }
  
  .purchase-date {
    font-weight: bold;
  }
  