  <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="display-4">Acceso no autorizado</h1>
                <p class="lead">Oops! Parece que no est치s logueado.</p>
                <p>Para acceder a esta p치gina, primero debes iniciar sesi칩n.</p>
                <a href="/users/login" class="btn btn-primary">Iniciar sesi칩n</a>
            </div>
        </div>
    </div>