<div class="container mt-5">
    <h1>Logueate usando Github!</h1>
    <a href="/api/jwt/github" class="btn btn-primary mt-3">Entrar con Github</a>
    <div class="mt-4">
        <h2>No quieres usar Github? Puedes usar nuestros enlaces:</h2>
        <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
        <p>¿Ya tienes cuenta con nosotros? <a href="/users/login">Haz Login aquí</a></p>
    </div>
</div>
